<div id="all">
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
            <!--   *** SIDEBAR ***-->
            <div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
                <div class="sidebar-content">
                    <h1 class="sidebar-heading"> <a href="#">BCL Photography</a></h1>
                    <p class="sidebar-p">Kid Friendly Photographers which focus on you and your little ones.</p>
                    <p class="sidebar-p">Address: Tutuban Center LS5, Tel: (+632)2511169</p>
                    <ul class="sidebar-menu">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a [routerLink]="['/reservation']">Book session with us</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                    <p class="social"><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" title="" class="external instagram"><i class="fa fa-instagram"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
                    <div class="copyright">
                        <p class="credit">&copy;2016 BCL Photography | Template by <a href="https://bootstrapious.com/free-templates" class="external">Bootstrapious.com</a></p>
                        <!-- Please do not remove the backlink to us, unless you support the development at https://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)        -->

                    </div>
                </div>
            </div>
            <!--   *** SIDEBAR END ***  -->
            <template ngbModalContainer></template>
            <!--   *** PORTFOLIO ***-->
            <div class="col-xs-12 col-sm-8 col-md-9 content-column">
                <nav class="navbar navbar-full navbar-light bg-faded visible-xs">
                    <ul  class="nav navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="small-navbar-heading dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                BCL Photography
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Home</a>
                                <a class="dropdown-item" [routerLink]="['/reservation']">Reserve</a>
                                <a class="dropdown-item" href="#">Contact Us</a>
                            </div>
                        </li>
                    </ul>

                    <!--<a class="navbar-brand" href="#">Full width</a>-->
                </nav>
                <router-outlet></router-outlet>
            </div>
            <!--   *** PORTFOLIO END ***
            -->
        </div>
    </div>
</div>


